<div class="content">
  <div class="row">
  	<%= t ".user_not_scoped" if current_user_process_groups.blank? %>

	<% current_user_process_groups&.each do |group| %>
	  <div class="card with-overflow">
  	  <div class="card-divider">
  	    <h2 class="card-title">
    			<%= translated_attribute group.title %>
           <%= link_to t(".edit"), decidim_admin_participatory_processes.edit_participatory_process_group_path(group), class: "button tiny button--title new" %>
    		</h2>
  	  </div>
      <div class="card-section">
        <h3><%= t ".group_processes" %></h3>
        <p><%= t ".civicrm_group_desc" %></p>
        
        <%= render partial: "civicrm_sync", locals: {group: group } if superadmin? %>

        <table class="table-list">
          <thead>
            <tr>
              <th></th>
              <th>
                <%= t("models.participatory_process.fields.created_at", scope: "decidim.admin") %>
              </th>
              <th>
                <%= t("models.participatory_process.fields.created_at", scope: "decidim.admin") %>
              </th>
              <th>
                <%= t("models.participatory_process.fields.private", scope: "decidim.admin") %>
              </th>
              <th>
                <%= t(".civicrm_group") %>
              </th>
              <th class="table-list__actions">
                <%= t("models.participatory_process.fields.published", scope: "decidim.admin") %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% processes_for_group(group).each do |process| %>
              <tr>
                <td><%= translated_attribute process.title %></td>
                <td><%= l process.created_at, format: :short %></td>
                <td class="table-list__state">
                  <% if process.private_space? %>
                    <strong class="text-alert"><%= t("participatory_processes.index.private", scope: "decidim.admin") %></strong>
                  <% else %>
                    <strong class="text-success"><%= t("participatory_processes.index.public", scope: "decidim.admin") %></strong>
                  <% end %>
                </td>
                <td class="table-list__state">
                  <% if process.published? %>
                    <strong class="text-success"><%= t("participatory_processes.index.published", scope: "decidim.admin") %></strong>
                  <% else %>
                    <strong class="text-alert"><%= t("participatory_processes.index.not_published", scope: "decidim.admin") %></strong>
                  <% end %>
                </td>
                <td>
                  <%= civicrm_groups_for_process(process).map {|g| g.group.title }.join(", ") %>
                </td>
                <td table-list__actions>
                  <% if current_user.admin? || user_process_admin?(current_user, process) %>
                    <%= icon_link_to "pencil", decidim_admin_participatory_processes.edit_participatory_process_path(process), t("actions.configure", scope: "decidim.admin"), class: "action-icon--new" %>
                  <% end %>
                  <%= icon_link_to "eye", decidim_participatory_processes.participatory_process_path(process), t("actions.preview", scope: "decidim.admin"), class: "action-icon--preview" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= decidim_form_for(@form || process_form(group), url: "#{new_process_scoped_admins_path}#form-#{group.id}", method: :post) do |f| %>
          <%= render partial: "new_process_form", locals: { form: f, group: group } %>
        <% end %>
      </div>
    </div>
	<% end %>
  </div>
</div>