<div class="my-8 form-defaults">
  <div class="item__edit-form civicrm-sync-form" id="sync-form-<%= group.id %>">
    <div class="form__wrapper bg-gray-3">
      <p class="help-text p-4"><%= t("civicrm_sync_desc", scope: "decidim.catcomu_managers.admin.scoped_admins") %></p>

      <%= decidim_form_for(sync_form(group), url: "#{set_sync_groups_scoped_admins_path}#sync-form-#{group.id}", method: :post) do |f| %>

        <%= f.hidden_field :decidim_participatory_process_group_id %>

        <div class="row column">
          <%= f.select :civicrm_default_group_id, civicrm_groups_list %>
        </div>
        <div class="row column">
          <%= f.select :civicrm_executive_group_id, civicrm_groups_list %>
        </div>
        <div class="row column">
          <%= f.submit t("sync_civicrm.send", scope: "decidim.catcomu_managers.admin.scoped_admins"), class: "button button__sm button__secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
