<%= form.hidden_field :participatory_process_group_id %>

<div class="form__wrapper">
  <div class="card" data-component="accordion" id="participatory_process_group-accordion">
    <div class="card-divider">
      <button id="trigger" data-controls="panel-participatory_process_group" class="button button__lg button__secondary">
        <h2><%= t(".title") %></h2>
      </button>
    </div>

    <div id="panel-participatory_process_group" aria-hidden="true" class="card-section">
      <div class="item__edit-form mt-8" id="form-<%= group.id %>">
        <div class="row column">
          <%= form.translated :text_field, :title, autofocus: true %>
        </div>

        <div class="row column">
          <%= form.translated :text_field, :subtitle %>
        </div>

        <div class="row column">
          <%= form.text_field :slug %>
          <p class="help-text">
            <%#== t("slug_help", url: decidim_form_slug_url(:processes, form.object.slug), scope: "decidim.participatory_processes.admin.participatory_processes.form") %>
          </p>
        </div>

        <div class="row column">
          <%= form.translated :editor, :short_description, lines: 5 %>
        </div>

        <div class="row column">
          <%= form.translated :editor, :description, toolbar: :full, lines: 15 %>
        </div>
        <div class="row column">
          <%= form.submit t(".send"), class: "button button__sm button__secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
