<div class="content">
  <div class="row">
    <%= t ".user_not_scoped" if current_user_process_groups.blank? %>

    <% current_user_process_groups&.each do |group| %>
      <div class="card mb-8">
        <div class="item_show__header">
          <h2 class="item_show__header-title">
            <%= translated_attribute group.title %>
              <%= link_to t(".edit"), decidim_admin_participatory_processes.edit_participatory_process_group_path(group), class: "button button__sm button__secondary" %>
          </h2>
        </div>

        <h3><%= t ".group_processes" %></h3>
        <p class="help-text"><%= t(".civicrm_group_desc", contact_data: raw(Decidim::CatcomuManagers.config.contact_data), manual: icon_link_to("admin-line",Decidim::CatcomuManagers.config.manual_link, "manual", class: "action-icon action-icon")).html_safe %></p>

        <%= render partial: "civicrm_sync", locals: { group: } if superadmin? %>

        <div class="table-scroll mb-8">
          <table class="table-list managers-processes-list">
            <thead>
              <tr>
                <th><%= t("models.participatory_process.name", scope: "decidim.admin") %></th>
                <th>
                  <%= t("models.participatory_process.fields.created_at", scope: "decidim.admin") %>
                </th>
                <th>
                  <%= t("models.participatory_process.fields.private", scope: "decidim.admin") %>
                </th>
                <th>
                  <%= t("models.participatory_process.fields.published", scope: "decidim.admin") %>
                </th>
                <th>
                  <%= t(".civicrm_group") %>
                </th>
                <th class="table-list__actions"></th>
              </tr>
            </thead>
            <tbody>
              <% processes_for_group(group).each do |process| %>
                <tr data-participatory_process_id="<%= process.id %>">
                  <td><%= translated_attribute process.title %></td>
                  <td><%= l process.created_at, format: :short %></td>
                  <td class="table-list__state">
                    <% if process.private_space? %>
                      <strong class="text-alert"><%= t("participatory_processes.index.private", scope: "decidim.admin") %></strong>
                    <% else %>
                      <strong class="text-success"><%= t("participatory_processes.index.public", scope: "decidim.admin") %></strong>
                    <% end %>
                  </td>
                  <td class="table-list__state">
                    <% if process.published? %>
                      <strong class="text-success"><%= t("participatory_processes.index.published", scope: "decidim.admin") %></strong>
                    <% else %>
                      <strong class="text-alert"><%= t("participatory_processes.index.not_published", scope: "decidim.admin") %></strong>
                    <% end %>
                  </td>
                  <td>
                    <%= render partial: "sync_groups", locals: { group:, process: } %>
                  </td>
                  <td table-list__actions>
                    <% if current_user.admin? || user_process_admin?(current_user, process) %>
                      <%= icon_link_to "pencil-line", decidim_admin_participatory_processes.edit_participatory_process_path(process), t("actions.configure", scope: "decidim.admin"), class: "action-icon--new" %>
                    <% end %>
                    <%= icon_link_to "eye-line", decidim_participatory_processes.participatory_process_path(process), t("actions.preview", scope: "decidim.admin"), class: "action-icon--preview" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

          <%= decidim_form_for(@form || process_form(group), url: "#{new_process_scoped_admins_path}#form-#{group.id}", method: :post) do |f| %>
            <%= render partial: "new_process_form", locals: { form: f, group: } %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js_content do %>
  <%#= javascript_pack_tag "decidim_admin_catcomu_managers" %>
<% end %>
